<div><h1>My Address Book</h1></div>
<div class="row">
    <div class="col span-1-of-4">
        <p>
            <label>Name
                <input type="text" data-bind="value: contact.name"/>
            </label>
        </p>
    </div>
    <div class="col span-1-of-4">
        <p>
            <label>Phone Number
                <input type="text" data-bind="value: contact.phoneNumber"/>
            </label>
        </p>
    </div>
</div>

<p>
    <button data-bind="click: addContact">Add</button>
    <button data-bind="click: clearContact">Clear</button>
</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: contacts">
    <tr>
        <td data-bind="text: name"></td>
        <td data-bind="text: phoneNumber"></td>
    </tr>
    </tbody>
</table>

