<div class="container" data-bind="afterRender: initForm">
    <div class="page-header">
        <h1>Registration Form</h1>
    </div>
    <form data-bind="submit: Form.submit" id="custom-form" data-mage-init='{"validation":{}}'>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <h4>Personal Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="titleInput">Title</label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    id="titleInput" data-toggle="dropdown"
                                    aria-expanded="true">
                                <span data-bind="text: Form.titleSelect"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="titleInput"
                                data-bind="foreach: Form.titleOptions">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       data-bind="text:value, click: setTitle"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"
                         data-bind="css: {'has-error':Form.customer.personalInfo.firstName.hasError}">
                        <label for="firstNameInput">First Name</label>
                        <input type="text" class="form-control" data-bind="value:Form.customer.personalInfo.firstName"
                               id="firstNameInput"
                               data-validate="{required:true}"
                               placeholder="Enter first name">
                        <p class="help-block" data-bind="visible:Form.customer.personalInfo.firstName.hasError"> Please enter first name</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group field name required">
                        <label for="middleNameInput">Middle Name</label>
                        <input id="middleNameInput" type="text" class="form-control"
                               placeholder="Enter middle name"
                               data-validate="{required:true}"
                               data-bind="value: Form.customer.personalInfo.middleName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group field name required">
                        <label for="lastNameInput">Last Name</label>
                        <input id="lastNameInput" type="text" class="form-control"
                               placeholder="Enter last name"
                               data-validate="{required:true}"
                               data-bind="value: Form.customer.personalInfo.lastName">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <h4>Contact Details</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phoneNumberInput">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumberInput"
                               data-bind="value:Form.customer.contactDetails.phoneNumber"
                               placeholder="Enter phone number">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="emailAddressInput">Email</label>
                        <input type="text" class="form-control" id="emailAddressInput"
                               data-bind="value: Form.customer.contactDetails.emailAddress"
                               placeholder="Enter email address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Preferred Contact</label>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" value="phone"
                                   name="preferredContactInput"
                                   data-bind="checked:Form.customer.contactDetails.preferredContact">Phone
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="email"
                                   name="preferredContactInput"
                                   data-bind="checked: Form.customer.contactDetails.preferredContact">Email
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <h4>Address Details</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Residential Address</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="streetInput">Street Address</label>
                        <input type="text" class="form-control"
                               data-bind="value:Form.customer.address.residential.street"
                               id="streetInput" placeholder="Enter street address">
                    </div>
                    <div class="form-group">
                        <label for="cityInput">City</label>
                        <input type="text" class="form-control"
                               data-bind="value:Form.customer.address.residential.city" id="cityInput"
                               placeholder="Enter city">
                    </div>
                    <div class="form-group">
                        <label for="postCodeInput">Postcode</label>
                        <input type="text" class="form-control"
                               data-bind="value:Form.customer.address.residential.postCode" id="postCodeInput"
                               placeholder="Enter postcode">
                    </div>
                    <div class="form-group">
                        <label for="countryInput">Country</label>
                        <input type="text" class="form-control"
                               data-bind="value:Form.customer.address.residential.country" id="countryInput"
                               placeholder="Enter country">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Postal Address</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Select postal address type</label>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" value="street" name="postalAddressTypeInput"
                                   data-bind="checked: Form.customer.address.postal.type">Street
                            address
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="pobox" name="postalAddressTypeInput"
                                   data-bind="checked: Form.customer.address.postal.type">PO Box
                        </label>
                    </div>
                </div>
            </div>
            <div data-bind="visible: Form.customer.address.postal.type() ==='street'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="postalStreetInput">Street Address</label>
                            <input type="text" class="form-control"
                                   data-bind="value:Form.customer.address.postal.streetAddress.street"
                                   id="postalStreetInput" placeholder="Enter street address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="postalCityInput">City</label>
                            <input type="text" class="form-control"
                                   data-bind="value: Form.customer.address.postal.streetAddress.city"
                                   id="postalCityInput" placeholder="Enter city">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="postalPostCodeInput">Postcode</label>
                            <input type="text" class="form-control"
                                   data-bind="value:Form.customer.address.postal.streetAddress.postCode"
                                   id="postalPostCodeInput" placeholder="Enter postcode">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="postalCountryInput">Country</label>
                            <input type="text" class="form-control"
                                   data-bind="value:Form.customer.address.postal.streetAddress.country"
                                   id="postalCountryInput" placeholder="Enter country">
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Form.customer.address.postal.type() ===  'pobox'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="poBoxInput">PO Box</label>
                            <input type="text" class="form-control"
                                   data-bind="value: Form.customer.address.postal.poBoxAddress.poBox"
                                   id="poBoxInput" placeholder="Enter PO Box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="poBoxCityInput">City</label>
                            <input type="text" class="form-control"
                                   data-bind="value: Form.customer.address.postal.poBoxAddress.city"
                                   id="poBoxCityInput" placeholder="Enter city">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="poBoxPostCodeInput">Postcode</label>
                            <input type="text" class="form-control"
                                   data-bind="value: Form.customer.address.postal.poBoxAddress.postCode"
                                   id="poBoxPostCodeInput" placeholder="Enter postcode">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="poBoxCountryInput">Country</label>
                            <input type="text" class="form-control"
                                   data-bind="value: Form.customer.address.postal.poBoxAddress.country"
                                   id="poBoxCountryInput" placeholder="Enter country">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <h4>Credit Cards</h4>
                </div>
            </div>
            <div>
                <div data-bind="foreach: Form.customer.creditCards">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ccNameInput">Name on card</label>
                                <input type="text" class="form-control"
                                       data-bind="value: name"
                                       id="ccNameInput" placeholder="Enter name on card">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ccNumberInput">Card Number</label>
                                <input type="text" class="form-control"
                                       data-bind="value: number"
                                       id="ccNumberInput" placeholder="Enter card number">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ccExpiryDateInput">Card Number</label>
                                <input type="text" class="form-control"
                                       data-bind="value:expiryDate"
                                       id="ccExpiryDateInput" placeholder="mm/yy">
                            </div>
                        </div>
                        <div class="col-md-1" data-bind="visible: $parent.Form.customer.creditCards().length > 1">
                            <div class="form-group">
                                <label for="ccActionInput">Action</label>
                                <a href id="ccActionInput"
                                   data-bind="click: $parent.Form.deleteCreditCard">delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-bind="visible: Form.customer.creditCards().length < 3">
                <div class="col-md-4">
                    <a href data-bind="click: Form.addCreditCard">+ credit card</a>
                </div>
            </div>

        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <h4>Interests</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="sports"
                                   data-bind="checked:Form.customer.interests"> Sports
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="news"
                                   data-bind="checked:Form.customer.interests"> News
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="movies"
                                   data-bind="checked:Form.customer.interests"> Movies
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="comedy"
                                   data-bind="checked:Form.customer.interests"> Comedy
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <button type="Submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default"
                data-bind="click:Form.clear">Clear
        </button>
    </form>


</div>

