<?php

// @codingStandardsIgnoreFile

/** @var \Magenest\Avatar\Block\Account\Dashboard\Avatar $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <div class="box-content">
                <p>
                    <img src="<?= $block->escapeHtml($block->getAvatarSrc()) ?>" alt="Avatar" height="150"
                         width="150"><br>
                </p>
            </div>
        </div>
        <div class="box box-information">
            <div class="box-content">
                <p>
                    <label>Name:</label>
                    <?= $block->escapeHtml($block->getName()) ?><br>
                    <label>Email:</label>
                    <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                    <label>Phone:</label>
                    <?php foreach ($block->getPhoneAddress() as $item): ?>
                        <?= $block->escapeHtml($item) ?><br>
                    <?php endforeach; ?>
                </p>
            </div>
        </div>
    </div>
</div>
