<?php /** @var \Magenest\Modal\Block\Modal $block */ ?>
<?php ?>
<div data-bind="scope:'modal'">
    <div data-bind="afterRender: initClick">
        <button id="button-first" class="button_modal" type="button">
			<?= $block->escapeHtml(__('Open Modal')); ?>
        </button>
        <button id="button-second" class="button_modal" type="button">
			<?= $block->escapeHtml(__('Open Magento Login Modal')); ?>
        </button>
        <button id="button-third" class="button_modal" type="button">
			<?= $block->escapeHtml(__('Open Custom Login Modal')); ?>
        </button>
    </div>
    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "modal": {
                            "component": "Magenest_Modal/js/view/modal"
                        }
                    }
                }
            }
        }
    </script>

    <div class="modal-modal" style="display: none">
        <div class="modal-login-page">
            <div class="modal-form">
                <form class="modal-register-form">
                    <input type="text" placeholder="name"/>
                    <input type="password" placeholder="password"/>
                    <input type="text" placeholder="email address"/>
                    <button>create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
                <form class="modal-login-form">
                    <input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
    </div>

</div>