<div class="pp-buttons-container">
    <p>
        <button id="<?php echo $block->getId() ?>"
                onclick="<?php echo $block->getReload() ?>)">
            <?php echo $block->getLabel() ?>
        </button>
    </p>
</div>