<?php
/**
 * baam
 *
 * @copyright Copyright © 2018 Magenest. All rights reserved.
 * @author    sonstephendo@gmail.com
 */
?>
<div data-bind="scope: 'baam'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "baam": {
                        "component": "Magenest_KnockoutJs/js/view/addressbook",
                        "template": "Magenest_KnockoutJs/baam"
                    }
                }
            }
        }
    }
</script>