<?php
/**
 * tabletennis
 *
 * @copyright Copyright © 2018 Magenest. All rights reserved.
 * @author    sonstephendo@gmail.com
 */
?>
<!-- data-bind attribute lets us bind knockout entities to our elemets -->
<div data-bind="scope: 'tennis'">
    <!-- here we create select input with options fetched from userActions observable array -->
    <!-- and bind the selected option to selectedAction observable -->
    <select data-bind="options: userActions, value: selectedAction" title="Tennis"></select>
    <!-- analogically we bind the text of a paragraph element to aiMove -->
    <p data-bind="text: aiMove"></p>
</div>
<!-- here we initialize our script -->
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "tennis": {
                        "component": "Magenest_KnockoutJs/js/view/tennis",
                        "initialMove": "ping"
                    }
                }
            }
        }
    }
</script>
