<?php /** @var $block \Magenest\Movie\Block\ActorList */ ?>
<!--<h1>--><?php //echo __('Actor List') ?><!--</h1>-->
<ul class="movie-actor-list">
	<?php /** @var $actor \Magenest\Movie\Model\Actor */ ?>
	<?php foreach ($block->getList() as $actor): ?>
        <li class="magenest-actor-list-item">
            <div class="magenest-actor-item-id">
                <strong><?php echo __('Id:') ?></strong>
				<?php echo $actor->getId() ?>
            </div>
            <div class="magenest-actor-item-name">
                <strong><?php echo __('Name:') ?></strong>
				<?php echo $actor->getName(); ?>
            </div>

            <div class="magenest-actor-item-meta1">
                <strong><?php echo __('Created at:') ?></strong>
                <?php echo $actor->getCreationTime() ?>
            </div>
            <div class="magenest-actor-item-meta2">
                <strong><?php echo __('Update at:') ?></strong>
		        <?php echo $actor->getUpdateTime() ?>
            </div>
        </li>
	<?php endforeach; ?>
</ul>