<?php /** @var $block \Magenest\Movie\Block\DirectorList */ ?>
<!--<h1>--><?php //echo __('Director List') ?><!--</h1>-->
<ul class="movie-director-list">
	<?php /** @var $director \Magenest\Movie\Model\Director */ ?>
	<?php foreach ($block->getDirector() as $director): ?>
        <li class="magenest-director-list-item">
            <div class="magenest-director-item-id">
                <strong><?php echo __('Id:') ?></strong>
				<?php echo $director->getId() ?>
            </div>
            <div class="magenest-director-item-name">
                <strong><?php echo __('Name:') ?></strong>
				<?php echo $director->getName(); ?>
            </div>

            <div class="magenest-director-item-meta1">
                <strong><?php echo __('Created at:') ?></strong>
                <?php echo $director->getCreationTime() ?>
            </div>
            <div class="magenest-director-item-meta2">
                <strong><?php echo __('Update at:') ?></strong>
		        <?php echo $director->getUpdateTime() ?>
            </div>
        </li>
	<?php endforeach; ?>
</ul>