<div class="container">
    <h3>Movie List</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Movie Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Director</th>
            <th>Director Name</th>
        </tr>
        </thead>

		<?php /** @var $block \Magenest\Movie\Block\MovieList */ ?>
		<?php /** @var $movie \Magenest\Movie\Model\Movie */ ?>

        <tbody>
		<?php foreach ($block->getList() as $movie): ?>
            <tr>
                <td><?php echo $movie->getId() ?></td>
                <td><?php echo $movie->getName(); ?></td>
                <td><?php echo $movie->getDescription() ?></td>
                <td><?php echo $movie->getRating() ?></td>
                <td><?php echo $movie->getDirectorId() ?></td>
                <td><?php echo $block->getDirectorName($movie) ?></td>
            </tr>
		<?php endforeach; ?>
        <tbody>
    </table>
    <h3>Actor List</h3>
	<?php foreach ($block->getList() as $movie): ?>
        <h3><?php echo $movie->getId() . ". ";
			echo $movie->getName(); ?></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Actor #</th>
                <th>Actor Name</th>
            </tr>
            </thead>

            <tbody>
			<?php $actors = $block->getActors($movie) ?>
			<?php foreach ($actors as $actor): ?>
                <tr>
                    <td><?php echo $actor['actor_id']; ?></td>
                    <td><?php echo $actor['actor_name']; ?></td>
                </tr>
			<?php endforeach; ?>
            <tbody>
        </table>
	<?php endforeach; ?>
</div>