<?php /** @var $block \Magenest\Movie\Block\MovieActorList */ ?>
<ul class="movie-director-list">
<!--    <h1>Hello</h1>-->
	<?php /** @var $item \Magenest\Movie\Model\MovieActor */ ?>
	<?php foreach ($block->getList() as $item): ?>
        <li class="magenest-item-list-item">
            <div class="magenest-item-item-id">
                <strong><?php echo __('Actor Id:') ?></strong>
				<?php echo $item->getActorId() ?>
            </div>
            <div class="magenest-item-item-name">
                <strong><?php echo __('Movie Id:') ?></strong>
				<?php echo $item->getMovieId(); ?>
            </div>
        </li>
	<?php endforeach; ?>
</ul>