<?php /** @var \Magenest\Movie\Block\Adminhtml\Detail $block */ ?>
<?php $data = $block->getMagentoData()?>
<section class="admin__page-section">
    <div class="admin__page-section-content">
        <div class="admin__page-section-item col span-1-of-2">
            <div class="admin__page-section-item-title">
            <span class="title">
                Module Info:
            </span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary">
                    <tr>
                        <th>Total installed module:</th>
                        <td><?php echo __($block->getNumberOfModules()) ?></td>
                    </tr>
                    <tr>
                        <th>Installed module by vender:</th>
                        <td><?php echo __($block->getNumberOfModulesByVendor()) ?></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item col span-1-of-2">
            <div class="admin__page-section-item-title">
            <span class="title">
                Magento Detail:
            </span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary">
                    <tr>
                        <th>Number of Customers:</th>
                        <td><?php echo __($data['customerNum']) ?></td>
                    </tr>
                    <tr>
                        <th>Number of Products:</th>
                        <td><?php echo __($data['productNum']) ?></td>
                    </tr>
                    <tr>
                        <th>Number of Orders:</th>
                        <td><?php echo __($data['orderNum']) ?></td>
                    </tr>
                    <tr>
                        <th>Number of Invoices:</th>
                        <td><?php echo __($data['invoiceNum']) ?></td>
                    </tr>
                    <tr>
                        <th>Number of Creditmemos:</th>
                        <td><?php echo __($data['creditmemosNum']) ?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


